// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

// Foundation Icon Fonts
// Path will be relative to "stylesheets" so do ../
$fi-path: "../bower_components/foundation-icon-fonts/";
@import "../bower_components/foundation-icon-fonts/foundation-icons";
@import "../bower_components/bourbon/dist/bourbon";

$primary-color: $brown;
$secondary-color: $orange;
$accent-color: $green;
