@import "color";
@import "settings";

.prime-word {
  color: $primary-color;
  letter-spacing: 3px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

.secondary-word {
  @extend .prime-word;
  color: $secondary-color;
}

.widget-button {
  @include button(0, $primary-color, $button-round, true, false, false);
  font-size: 200%;
  label {
    font-size: 50%;
    color: $button-font-color;
    visibility: hidden;
  }
  &:hover label {
    visibility: visible;
  }

}

.tinted-background {
  @include background(linear-gradient(scale-color($secondary-color, $lightness: 90%), scale-color($secondary-color, $lightness: -50%)));
}
