@import "color";
@import "settings";
@import "compass";

.prime-word {
  color: $primary-color;
  letter-spacing: 3px;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
}

.secondary-word {
  @extend .prime-word;
  color: $secondary-color;
}

.widget-button {
  @include button(0, $primary-color, $button-round, true, false, false);
  font-size: 200%;
  label {
    color: $button-font-color;
  }
}

body, .tinted-background {
  background: $tertiary-color; /* Old browsers */
  @include background-image(linear-gradient(scale-color($tertiary-color, $lightness: 90%), $tertiary-color, scale-color($tertiary-color, $lightness: -50%)));
}

body {
  @media only screen and (max-width: 40em) { 
    h1 { font-size: 125%; }
  }
}
